<!-- <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar> -->

<!--<form>-->
<mat-toolbar>
    <a routerLink="/" mat-icon-button class="mat-caption"><mat-icon>home</mat-icon></a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a mat-button [routerLink]="'/'+module+'/'+appName" class="mat-caption">{{ appName }}</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a mat-button class="mat-caption" [routerLink]="'/'+module+'/'+appName+'/'+modelName">{{ model.verbose_name }}s</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span *ngIf="mode === 'edit'" class="mat-caption">{{ id }}</span>
    <span *ngIf="mode === 'create'" class="mat-caption">Creating new {{ modelName }}</span>
    <span class="toolbar-fill-remaining-space"></span>
</mat-toolbar>
<ngcrudui-model-form [moduleName]="module" [appName]="appName" [mode]='mode'
    [modelName]="modelName" (onSubmit)="onSubmit($event)" [id]="id"></ngcrudui-model-form>
<!--</form>-->