/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    padding: 0;
}

.mat-menu-panel {
    max-width: 800px !important;
}