<mat-toolbar>
    <a routerLink="/" mat-icon-button class="mat-caption"><mat-icon>home</mat-icon></a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a mat-button [routerLink]="'/'+module+'/'+appName" class="mat-caption">{{ appName }}</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a mat-button class="mat-caption">{{ model.verbose_name }}s</a>
    <span class="toolbar-fill-remaining-space"></span>
    <a mat-raised-button [routerLink]="'/'+module+'/'+appName+'/'+modelName+'/new'" color="primary">Create</a>
    &nbsp;
    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">Bulk Actions</button>    
    <mat-menu #menu="matMenu" >
        <button mat-menu-item>Delete</button>
    </mat-menu>
</mat-toolbar>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>search</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
            Search and filter restults
        </mat-panel-description>                
    </mat-expansion-panel-header>

    <ngcrudui-model-form [module]="module" [appName]="appName" mode='search'
                 [modelName]="modelName" (onSubmit)="onSearch($event)"></ngcrudui-model-form>

</mat-expansion-panel>    

<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>

<mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <ng-template [ngIf]="column.columnDef === 'checked'">
            <mat-header-cell *matHeaderCellDef (click)="onCheckAll()"><mat-checkbox></mat-checkbox></mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="onChecked($event)"> <mat-checkbox></mat-checkbox> </mat-cell>
        </ng-template>
        <ng-template [ngIf]="column.columnDef !== 'checked' && column.columnDef !== 'actions'">
            <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-template>
        <ng-template [ngIf]="column.columnDef === 'actions'">
            <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button *ngFor="let action of model.list_actions">
                    {{ action.title }}
                </button>
            </mat-cell>
            </ng-template>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row class="app-table-row" style="cursor:pointer" (click)="_rowClicked(row)"  *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
    [length]="resultsCount"
    [pageIndex]="searchParams.page - 1"
    [pageSize]="20">
</mat-paginator>