<mat-toolbar>
  <a routerLink="/">Ng Crud UI</a>
</mat-toolbar>
<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>

  <mat-sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <ng-template ngFor let-item [ngForOf]="sidenav.items | async">
        <h4 matSubheading *ngIf="item.type === 'subheading'; else link">{{ item.title }}</h4>
        <ng-template #link>
          <a [routerLink]="item.url" mat-list-item><mat-icon>{{ item.icon }}</mat-icon> {{ item.title }}</a>
        </ng-template>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>