<section class="app-settings" *ngIf="moduleName">
  <mat-toolbar color="primary" class="secondary">
    <span class="display-3">{{ app?.name }}</span>
    <mat-toolbar-row>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
            *ngFor="let model of models"
            [routerLink]="'/'+moduleName+'/'+app?.key+'/'+model.name">
          {{ model.name }}
        </a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <mat-card>
    <p class="mat-subheading-1">Welcome to Cloudinn Settings</p>
  </mat-card> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
